# Lab1 Introduction to python
**Objectives:** 
1. Learn how to write python code using Google colab or anaconda Jupyter Notebook.
2. Learn how to use print function, simple operators and variables.

#Question 0 (1 pt)
**Question 0**. write the following code to get the version of python on Google colab

```
!python --version
```

In [ ]:
!python --version

Python 3.7.13

## Errors in programming
- Syntax Error (usually in compile time): the compiler is unable to translate programming code to binary code due to incorrect grammar of the written code
- Runtime Error: The program execution is unable to proceed further ( e.g., divided by zeros, invalid file location, invalid input format)
- Logical Error: The program completes execution with incorrect result

**Example of Syntax error**

In Python 2, 'print' is a statement so you can put multiple arguments next to it and put space in between. For example,

    print "Hello" " word"

However, in Python 3, 'print' is a function so arguments must be put inside the parentheses and have a comma in between

    print("Hello"," word")

Otherwise, the compiler generates syntax error to notify a programmmer that parentheses is missing.

In [ ]:
print("Hello"," word")

Hello  word

In [ ]:
print("Hello1"," word1")
print("Hello2": " word2")

SyntaxError: ignored

In [ ]:
print "Hello" " word"

SyntaxError: ignored

**Example of Runtime error**

Usually '/' is a division operator that takes two input and compute the result. However, runtime error can occur when the divisor is zero (it is called ZeroDivisionError).

In [ ]:
print("Program start")
a = 20
b = 4
print(a/b)
print("Program End")

Program start
5.0

In [ ]:
print("Program start")
a = 20
b = 0
print(a/b)
print("Program End")

#Question 1 (2 pt)
Given the following blocks of code (line 1-6), after the program terminates which lines of code were executed, which line of code caused runtime error, and which lines of code were not executed.

In [ ]:
print("Program start")
a = 20
print(a)
b = 0
print(a/b)
print("Program End")

which lines of code were executed : 1-4
which line of code caused runtime error : 5
which lines of code were not executed : 6

**Example of Logical error**
In this case, the program runs until completed but produces the invalid output
This could cause by inaapropriate use of statement. For example, if a user wants to write code to compute the average between two number, the equation should be: 
    average = (a+b)/2. 
However, the inappropriate use of statement could produce inaccurate result.

In [ ]:
a = float(input("Value of a: "))
b = float(input("Value of b: "))
average = (a+b)/2
print("The average between the two number is: " , average2)

In [ ]:
a = float(input("Value of a: "))
b = float(input("Value of b: "))
average = a+b/2
print("The average between the two number is: " , average)

# Python basic syntax
Ref: https://www.tutorialspoint.com/python/python_basic_syntax.htm

**Function print() in Python**

The print() function prints the number of specified messages with a comma (,) between them to the screen, or other standard output device.

The message can be a string, number, or any other object, the object will be converted into a string before written to the screen.
    
    print("This is my first program")
    print(555)
    print(555,666)

In [ ]:
print("This is my first program")
print(555,666)

This is my first program
555 666

**Comments in Python**

A hash sign (#) that is not inside a string literal begins a comment. All characters after the # and up to the end of the physical line are part of the comment and the Python interpreter ignores them.
    # this is a comment, the statement won't run

In [ ]:
print("This is my first program")
# print("Hello world")

This is my first program

**Quotation in Python**

Python accepts single ('), double (") and triple (''' or """) quotes to denote string literals, as long as the same type of quote starts and ends the string.

    print('This is my first statement')
    print("This is my second statement")
The triple quotes are used to span the string across multiple lines. For example, all the following are legal −

    print('''This is my third
         statement''')

In [ ]:
print('This is my first statement')
print("This is my second statement")
print('''This is my third
     statement''')

This is my first statement
This is my second statement
This is my third
     statement

**Variables**

Variables are containers for storing data values. In Python, there is no command for declaring a variable. A variable is created the moment you first assign a value to it. The value is assigned to a variable by using equal sign (=) as an assignment operator (the right side is the value (evaluted from the statement) assigned to the single variable on the left side 

    a = 20
    b = 20/8
    print(a)
    print(b)

In [ ]:
    a = 20
    b = 20/8
    print(a)
    print(b)

20
2.5

**Python Indentation**

Indentation refers to the spaces at the beginning of a code line. Where in other programming languages the indentation in code is for readability only, the indentation in Python is very important. Python uses indentation to indicate a block of code.  If the statements are in the same indentation level, they belong to the same block.  If a block is more deeply nested, it is  indented further to the right. For example, 
    # Python program showing indentation
    site = 'gfg'
    if site == 'gfg':
      print('Logging on to geeksforgeeks...')
    else:
      print('retype the URL.')
    print('All set !')

In [ ]:
    # Python program showing indentation
    site = 'gfg'
    if site == 'gfg':
      print('Logging on to geeksforgeeks...')
    else:
      print('retype the URL.')
    print('All set !')

Logging on to geeksforgeeks...
All set !

Note that putting indentation when statements are not nested could result in indentation error.

    print("First line")
      print("Second line")

In [ ]:
print("First line")
  print("Second line")

# Question 2 (1 pt)

Modify the following code to print out your name and ID here:

In [ ]:
print("Itthikon","Amonkhana")
print("65102010172")

Itthikon Amonkhana
65102010172

# Question 3 (2 pt)

Write code to print out the result of the following expression:

1. 5 + 5 - 10

2. (2*3)-5

3. (10/2)-5

4. 2**3 # 2 to the power 3 

5. 12%3 # 12 modulo 3

In [ ]:
print("5+5-10 = ", 5+5-10)
print("(2*3)-5 = ", (2*3)-5)
print("(10/2)-5 = ", (10/2)-5)
print("2**3 = ", 2**3)
print("12%3 = ", 12%3)

5+5-10 =  0
(2*3)-5 =  1
(10/2)-5 =  0.0
2**3 =  8
12%3 =  0

# # Question 4 (2 pt)

Write code to assign values to variables and print value stored in those variables as follows

  1. Assign the value 10000 to variable named saving_amount

  2. Assign the value 0.07 to variable named interest_rate

  3. Assign the value saving_amount*interest_rate to variable named interest_amount
  4.  Update the value saving_amount+interest_amount variable named saving_amount

  5. print value stored in saving_amount

  6. print value stored in interest_rate

  7. print value stored in interest_amount

In [ ]:
#Savings interest calculation

#Put your code here
#  1. Assign the value 10000 to variable named saving_amount
saving_amount = 10000
#  2. Assign the value 0.07 to variable named interest_rate
interest_rate = 0.07
#  3. Assign the value saving_amount*interest_rate to variable named interest_amount
interest_amount = saving_amount*interest_rate
#  4.  Update the value saving_amount+interest_amount to variable named saving_amount
saving_amount = saving_amount+interest_amount
#  5. print value stored in saving_amount
print("saving_amount: ", saving_amount)    
#  6. print value stored in interest_rate
print("interest_rate: ", interest_rate)
#  7. print value stored in interest_amount 
print("interest_amount: ", interest_amount)

saving_amount:  10700.0
interest_rate:  0.07
interest_amount:  700.0000000000001

# Question 5 (2 pt)

Write code to assign values to variables and print value stored in those variables as follows

  1. Assign the value 55 to variable named weight

  2. Assign the value 1.60 to variable named height

  3. Assign the value weight/height**2 to variable named bmi

  4. print value stored in weight

  5. print value stored in height

  6. print value stored in bmi

In [ ]:
#Body Mass Index calculation
#Put your code here 
weight = 55
height = 1.60
bmi = weight/height**2
#4. print value stored in weight
print('weight: ',weight)
#5. print value stored in height
print('height: ',height)
#6. print value stored in bmi
print('bmi: ',bmi)

weight:  55
height:  1.6
bmi:  21.484374999999996